.about_us {
    display: flex;
    justify-content: space-around;
}
.team_item {
    height: 100%;
    width: 200px;
    margin: 5px; 
}
.member_photo {
    height: 100px;
    width: 100px;
    margin: 20px auto;
}
.member_photo img {
    height: 100%;
    width: 100%;
    /* margin: 10px auto; */
}
.member_name {
    font-size: 20px;
    margin: 10px auto;
}
.member_dscr {
    font-size: 12px;
    margin: 10px auto;
}
.member_social {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

