   .button {

        
        text-align: center;
        width: 300px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-family: 'Lobster', cursive;
        border: 1px #e49a22 solid;
        background-color: #e49a22;
        text-align: center;
        
        line-height: 1.8;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 15px;
        
        }
        
    input.button:hover {
        border: none;
        background-color: #e49a22;
        color:rgb(247, 253, 252);
        
    }

    .name {
        width: 300px;
    }
    
    .email {
        width: 300px;
        margin-top: 5px;
        
    }
        
    
        
        
    cont1 {
        min-height: 150px;
        

        
    }
    h1.title {

        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        color: #e49a22;
        text-shadow: 0 5px 10px rgba(0,0,0,1);
        box-shadow: 0 5px 10px rgba(0,0,0,1);
        opacity: 0.8;
        padding: 40px;
        margin-left: 2vh;
        margin-right: 2vh;
        
    }    
    form {
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 10vh;
        margin-top: 40px;
        margin-bottom: 20px;
        
        
    
    }
    title{
        
        text-align: center;
        
    }
    
    
    .photo {
        min-height: 35vh;
        background-image: url(https://files.slack.com/files-pri/TCJQZ9UGL-FCSPHUNTD/untitled_design__2_.png); 
        background-size: cover;
        
    }
    ::-webkit-input-placeholder {
        text-align: center;
        
    }

    :-moz-placeholder {
        text-align: center;
    }

    @media (min-width: 575.98px) {
      form {
        flex-wrap: nowrap;
        min-height: 6vh;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 60px; 
        margin-left: 10px;
        margin-right: 10px;
      } 
      .button {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 10px;
          font-size: 20px;
      } 
      .email {
          margin-top: 0px;
          margin-left: 10px;
      }
      h1.title {
          font-size: 60px;
      }
      .photo {
        height: 450px;
      }
    
        
              
    }
    @media (min-width: 1312.98px) {
        .photo {
            height: 350px;

        }


    }
    
  