









@media (min-width: 576px) {
    #header {
        /* height: 55px; */
        display: flex;
        background-color: grey;
        justify-content: space-between;
        /* align-content: center; */
        padding: 5px 5px;
    }
    .logo {
        /* background: url(https://www.freelogodesign.org/Content/img/logo-ex-5.png); */
        background-color: darkgrey;
        height: 50px;
        width: 50px;
    }
    .menu {
        display: flex;
        justify-content: space-between;
    }
    .menu_item {
        border: 1px darkslategray solid;
        background-color: rgba(0, 255, 255, 0.63);
        width: 100px;
        /* height: 50px; */
        text-align: center;
        line-height: 50px;
    }
    .menu_item:hover {
        border: 1px rgb(78, 139, 139) solid;
        background-color: aqua;
        width: 100px;
        height: 50px;
    }
}
