    #hero_bg {
        background-color: antiquewhite;
        background-size: 100% 850px;
        width: 100%;
        height: 850px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-direction: row;
        animation: pulse 5s infinite;
        
    }

@keyframes pulse {
0%{
    background-color: aquamarine;
}
100% {
    background-color: rgba(42, 230, 126, 0.555);
}
}

.image{
   display: flex;
   justify-content: flex-start;
   align-content: center;
}

.image-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:30px;
}

    .hero_dscr {
        padding: 100px;
        background-color: rgba(42, 44, 44, 0.2);
        margin-bottom: 10px;

    }

    .cta{
        display: flex; 
        align-content: center;
        
       
    }


.text-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin:30px;
}

    .hero_signup_btn {
        border: 1px darkslategray solid;
        background-color: rgba(0, 255, 255, 0.7);
        text-align: center;
       
        margin-top: 10px;
        transition: font-size 2s;
        line-height: 1.8;
        padding: 10px 30px;
        text-decoration: none;
    }
    .hero_signup_btn:hover {
        background-color: rgba(62, 104, 104, 0.9);
        color: aliceblue;
        font-size: 50px;
    
    }