.normal, .timeIsUp, .youWon {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.02em;
    color: black;
}
.normal {
    font-size: 24px;
}
.normalText {
    color: green;
    /* font-weight: bolder; */
}
.halfTime {
    color: rgb(255, 136, 0);
    /* font-weight: bolder; */
}
.stayFocus {
    color: orangered;
    /* font-weight: bolder; */
}
.warning {
    color: red;
    /* font-weight: bolder; */
}
.showTime {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 25px;
    margin-bottom: 0px;
    background: white;
}
.showTimeText {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    text-align: center;
}
.showTimeSecondsContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.popup {
    display: flex;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
}
button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 120px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    background: salmon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  button:hover {
    background: lightsalmon;
  }
  button a {
    text-decoration: none;
    color: black;
    display: block;
    width: 120px;
  }