.normal, .timeIsUp, .youWon {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.02em;
    color: black;
}
.normal {
    font-size: 24px;
}
.halfTime {
    color: rgb(255, 136, 0);
}
.stayFocus {
    color: orangered;
}
.warning {
    color: red;
}
.showTime {
    width: 150px;
    height: 300px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.popup {
    /* width: 500px;
    height: 500px; */
    /* background: rgba(0, 0, 0, 0.85); */
    display: flex;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    justify-content: center;
    align-items: center;
}
button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 120px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    /* padding: 0 40px; */
    background: salmon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  button:hover {
    background: lightsalmon;
  }
  button a {
    text-decoration: none;
    color: black;
    display: block;
    width: 120px;
  }