.normal {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    color: green;
}
.stayFocus {
    color: orangered;
}
.warning {
    color: red;
}
.timeIsUp {
    color: red;
    font-size: 40px;
    content: "GAME OVER - Time is up!";
}
.showTime {
    width: 300px;
    height: 300px;
}
.endGame {
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 20000; */
}